.App {
  text-align: center;
}
.image-cover-row {
  display: flex;
  justify-content: space-around;
  flex-basis: auto; 
  }
  
  .image-cover-row-item {
  height: auto;
  }
  img{width: 100%;}

  @media only screen and (max-width: 640px) {
    .image-cover-row {
     display: block;}
    body {
        background-color: black;
    }
}